@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.example-card {
    width: 300px;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .main-div{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }